User\__pycache__
SimCardEstimator\__pycache__
MachineLearningEstimator\__pycache__
HouseEstimator\__pycache__
CarEstimator\__pycache__
CarEstimator/migrations/__pycache__/
HouseEstimator/migrations/__pycache__/__init__.cpython-38.pyc
SimCardEstimator/migrations/__pycache__/
User/migrations/__pycache__/
venv
**/__pycache__
**/houseestimator.pkl
MachineLearningEstimator/.env
HouseEstimator/Model/houseestimator.pkl
CarEstimator/Model/carestimator.pkl
.vscode
.pip_cache
.dockerignore